{% extends "base.html" %}

{% load flickr %}
{% load oembed_tags %}

{% block title %}Trail Hawk Members{% endblock title %}

{% block content %}
<div class="main" id="main-two-columns">

	<div class="left" id="main-content">
		<ul>
		  	{% for member in object_list %}
			    <li><a href="{{member.get_absolute_url}}">{{ member.full_hawk_name }}</a></li>
			  {% endfor %}
		  </ul>
		{% block member_detail %}{% endblock %}
	</div>

	<div class="right sidebar" id="sidebar">
		{% include "includes/flickr_photos.html" %}
	</div>

	<div class="clearer">&nbsp;</div>

</div>
{% endblock content %}
