{% extends "members/member_list.html" %}
{% load race_extras $}

{% block title %}{{object.name}}{% endblock %}

{% block member_detail %}
<h2>Member info for {{ object.full_hawk_name }}</h2>
<table>
<tr>
<td width="100"><img src="/site_media/{{ object.avatar }}" /></td>
<td align="left"><p><strong>Hawk Name:</strong> {{ object.hawk_name }}</p>
{% if object.position %}
<p><strong>Position:</strong> {{ object.get_position }}
{% endif %}
<p><strong>Paid date:</strong> {{ object.date_paid }}</p>
<p><strong>Expires:</strong> {{ object.date_expires }}</p>
<p><strong>Active:</strong> {{ object.active }}</p>
</td>
</tr>
</table>
{% if object.get_blog_posts %}
<p><strong>Blog Posts:</strong>
	<ul>
		{% for post in object.get_blog_posts %}
			<li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> on {{ post.publish|date }}</li>
		{% endfor %}
	</ul>
</p>
{% endif %}

{% if object.get_race_results %}
<p><strong>Race Results:</strong>
	<ul>
		{% for result in object.get_race_results %}
			<li>Ran <a href="{{ result.race.get_absolute_url }}">{{ result.race.title }}</a> in {{ result.time }} on {{ result.race.start_datetime|date }}</li>
		{% endfor %}
	</ul>
</p>
{% endif %}

{% if object.get_race_reports %}
<p><strong>Race Reports:</strong>
	<ul>
		{% for result in object.get_race_reports %}
			<li><a href="{{ result.report }}">{{ result.title }}</a> for <a href="{{ result.race.get_absolute_url }}">{{ result.race.title }}</a> on {{ result.race.start_datetime|date }}</li>
		{% endfor %}
	</ul>
</p>
{% endif %}

{% endblock %}


