django-registration==0.8
django-tagging==0.3.1
Django==1.4.1
flickrapi==1.4.2
ghettoq==0.4.5
httplib2
ipython==0.13
PIL==1.1.7
psycopg2==2.4.5
raven
simplejson==2.6.1
South==0.7.6
textile==2.1.5
wsgiref==0.1.2

git+https://github.com/jefftriplett/django-syncr.git#egg=django-syncr-git
