DateUtils
Django>=1.6,<1.7
Markdown==2.2.1
Pillow==2.1.0
South==0.8.2
Unipath==1.0
akismet==0.2.0
boto==2.27.0
django-contrib-comments==1.5
django-gravatar2==1.0.6
django-ical==1.1
django-markup-deprecated==0.0.3
django-registration==0.8
django-storages
django-taggit==0.11.2
django-waffle==0.10
djrill==0.7.0
fabric
feedparser==5.1.2
flickrapi==1.4.2
gunicorn==0.17.2
httplib2==0.7.6
micawber==0.2.5
psycopg2==2.4.5
raven==2.0.10
recaptcha-client==1.0.6
requests==0.14.2
simplejson==2.6.2

#dogapi
#git+https://github.com/conorbranagan/django-datadog.git#egg=django-datadog-git

git+https://github.com/jefftriplett/django-syncr.git#egg=django-syncr-git
git+https://github.com/vikingco/django-storage-migration.git#egg=django-storage-migration-git

# for using opencv with thumbor
#opencv
#opencv-engine
#numpy

# for remote thumbnail support
thumbor==4.0.4
django-thumbor
libthumbor
git+https://github.com/willtrking/thumbor_aws.git#egg=thumbor_aws-git
