{% extends "base_bootstrap.html" %}

{% load core_tags %}
{% load humanize %}
{% load members_tags %}
{% load race_tags %}
{% load run_tags %}
{% load staticfiles %}
{% load waffle_tags %}

{% block navbar %}
<div class="navbar-wrapper">
  <div class="container">

<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="{% static 'img/hawk-head-24.png' %}" height="22"> Lawrence Trail Hawks</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {% flag use_events %}
          <li{% if view.navitem == 'events' %} class="active" {% endif %}><a href="{% url 'event_list' %}">Events</a></li>
        {% else %}
        <li><a href="{% url 'race_index' %}">Events</a></li>
        {% endflag use_events %}

        <li><a href="{% url 'run_list' %}">Group Runs</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Club Information <b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li{% if view.navitem == 'blog' %} class="active" {% endif %}><a href="{% url 'blog_list' %}">Blog</a></li>
          <li{% if view.navitem == 'links' %} class="active" {% endif %}><a href="{% url 'link_list' %}">Links</a></li>
          <li{% if view.navitem == 'members' %} class="active" {% endif %}><a href="{% url 'member_list' %}">Members</a></li>
          <li{% if view.navitem == 'sponsors' %} class="active" {% endif %}><a href="{% url 'sponsor_list' %}">Sponsors</a></li>
          <li><a href="/brochure/">Tri-Fold Brochure</a></li>
          <li><a href="/signup/"><i class="fa fa-plus-circle"></i> Join Us</a></li>
          <li><a href="/contact/"><i class="fa fa-envelope"></i> Contact us</a></li>
          </ul>
        </li>
        <li{% if view.navitem == 'about' %} class="active" {% endif %}><a href="{% url 'about' %}">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.facebook.com/home.php#/group.php?gid=91186762641&amp;ref=ts"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.twitter.com/trailhawks"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.flickr.com/photos/trailhawks"><i class="fa fa-flickr"></i></a></li>
        <li><a href="https://github.com/organizations/TrailHawks"><i class="fa fa-github"></i></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

  </div>
</div>
{% endblock navbar %}


{% block content-wrapper %}
<div class="container">
{% block content %}
{% endblock content %}
</div>
{% endblock content-wrapper %}


{% block footer %}
<footer>
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-6">
        <ul class="list-unstyled">
          <li><a href="/signup/"><i class="fa fa-plus-circle"></i> Join Us</a></li>
          <li><a href="/contact/"><i class="fa fa-envelope"></i> Contact us</a></li>
          <li><a href="https://www.facebook.com/home.php#/group.php?gid=91186762641&amp;ref=ts"><i class="fa fa-facebook"></i> Facebook</a></li>
          <li><a href="https://www.twitter.com/trailhawks"><i class="fa fa-twitter"></i> Twitter</a></li>
          <li><a href="https://www.flickr.com/photos/trailhawks"><i class="fa fa-flickr"></i> Flickr</a></li>
          <li><a href="https://github.com/organizations/TrailHawks"><i class="fa fa-github"></i> Github</a></li>
          <li><a href="https://groups.yahoo.com/group/Lawrence_Trail_Hawks/"><i class="fa fa-group"></i> Yahoo! Group</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          {# Upcoming races #}
          {% get_latest_races as latest_races %}
          <li><b>{{ latest_races.count|intcomma }}</b> upcoming races</a></li>

          {# Past races #}
          {% get_past_races as past_races %}
          <li><b>{{ past_races.count|intcomma }}</b> past races</a></li>

          {# Total members #}
          {% get_active_members as active_members %}
          <li><b>{{ active_members.count|intcomma }}</b> members</a></li>

          {# Total racers #}
          {% get_all_racers as racers %}
          <li><b>{{ racers.count|intcomma }}</b> racers</a></li>

          {# Total results #}
          {% get_all_results as results %}
          <li><b>{{ results.count|intcomma }}</b> results</a></li>

        </ul>
      </div>
      <div class="col-md-2">
          <a href="https://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangopowered126x54.gif" border="0" alt="Powered by Django." title="Powered by Django."></a>
      </div>
      <div class="col-md-1">
          <a href="https://www.rrca.org"><img src="https://www.rrca.org/images/hero/2010_RRCA_Logo_small.jpg" border="0" alt="RRCA" class="right" height="80"></a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr>
        <p>&copy; 2009-{% now "Y" %} <a href="https://trailhawks.com/">Lawrence Trail Hawks</a>. All rights reserved. v{% get_version %}</p>
      </div>
    </div>

  </div>
</footer>
{% endblock footer %}
