{% extends "flatpages/default.html" %}

{% load markup %}
{% load race_tags %}
{% load sponsors_tags %}

{% block content %}

<div class="jumbotron">
    {{ block.super }}
</div>

<section id="sponsors">
  {% get_race_by_slug slug='hawk-6' as race %}
  {% get_sponsors_for_object race as sponsor_list %}
  {% if sponsor_list %}

    <div class="row">
      <div class="col-md-12">
        <h2><a name="sponsors"></a>Sponsors
        </h2>
      </div>
    </div>

    <div class="row">
    {% for sponsor in sponsor_list %}
      <div class="col-md-6">
        <h3>{{ sponsor.name }}</h3>
        <a href="{{ sponsor.url }}">
          <img class="img-responsive" src="{{ sponsor.logo.url }}" />
        </a>
      </div>

      {% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
    {% endfor %}
    </div>
  {% endif %}
</section>

{% endblock content %}
