{% extends base_template_name|default:"base.html" %}


{% load markup %}


{% block title %}FAQ{% endblock title %}


{% block content %}
<div class="row">
  <div class="col-md-8">
		<h1>Frequently Asked Questions</h1>

		{% regroup object_list by content_type as obj_list %}
		{% for obj in obj_list %}
		<h3>{{ obj.grouper|default:"Club"|title }} Questions</h3>
		  {% for faq in obj.list %}
		    <h4>{{ faq.question }}</h4>
		    {{ faq.answer|markdown }}
		  {% endfor %}
		{% endfor %}
	</div>

  <div class="col-md-4">
  	{% include "includes/flickr_photos.html" %}
  </div>
</div>
{% endblock content %}
