{% extends "base.html" %}

{% load flickr %}
{% load markup %}
{% load oembed_tags %}

{% block title %}FAQ{% endblock title %}

{% block content %}
<div class="main" id="main-two-columns">

	<div class="left" id="main-content">
		<ul>
		  {% for faq in object_list %}
		    <h3>{{ faq.question}}</h3>
		    {{ faq.answer|markdown }}
		  {% endfor %}
		  </ul>
		{% block faq_detail %}{% endblock faq_detail %}
	</div>

	<div class="right sidebar" id="sidebar">
		{% include "includes/flickr_photos.html" %}
	</div>

	<div class="clearer">&nbsp;</div>

</div>
{% endblock content %}
