{% extends "runs/base.html" %}

{% load flickr %}
{% load oembed_tags %}

{% block title %}Weekly Runs{% endblock title %}

{% block page_header %}<h1>Weekly Runs</h1>{% endblock page_header %}

{% block content %}
<div class="well">
<p>The Trailhawks have multiple runs per week. All with varying levels of distance and difficulty. We welcome runners of all abilities. So come join us for a run.</p>
</div>
<dl>
	{% for object in object_list %}
    <dt>{{ object.run_date }} - {{ object.run_time }}</dt>
    <dd><a href={{ object.get_absolute_url }}>{{ object.name }}</a></dd>
	{% endfor %}
</dl>
{% endblock content %}
