{% extends "runs/run_base.html" %}

{% load faq_tags %}
{% load markup %}
{% load photo_tags %}

{% block title %}{{ object.name }}{% endblock %}

{% block weekly_runs %}
<div class="main" id="main-two-columns">

	<div class="left" id="main-content">
		{% block run_detail %}
		<h2>{{ object.name }}</h2>
		{% if object.get_run_news %}
			<h3>Latest News</h3>
			{% for item in object.get_run_news|slice:":3" %}
				<h4 class="quiet">{{ item.pub_date|date }}</h4>
				<p>{{ item.body }}</p>
			{% endfor %}
		</p>
		{% endif %}
		<p><strong>When:</strong> {{ object.get_day_of_week_display }} at {{ object.run_time }}</p>
		<p><strong>Where:</strong> {{ object.location }}</p>
		<p><strong>Details:</strong> {{ object.details }}</p>
		<p><strong>Contact:</strong> {{ object.contact.full_name}} at <a href="mailto:{{ object.contact.email }}">{{ object.contact.email }}</a></p>
		{{ object.map_iframe|safe}}
		{% endblock %}

		<div id="fb-root">
		    <iframe src="https://www.facebook.com/plugins/like.php?href=http://www.lawrencetrailhawks.com/{{ object.get_absolute_url }}" scrolling="no" frameborder="0" style="border:none; width:500px; height:80px"></iframe>
		</div>

		{% include "comments/comments.html" %}

	</div>

	<div class="right sidebar" id="sidebar">
		{% get_photos_by_machine_tags object.get_machine_tags 10 as photos_list %}
		{% include "includes/flickr_photos.html" with photos=photos_list %}
	</div>

	<div class="clearer">&nbsp;</div>

</div>
{% endblock %}
