{% extends "runs/base.html" %}

{% load oembed_tags %}

{% block title %}{{ object.name }}{% endblock title %}

{% block page_header %}<h1>{{ object.name }}</h1>{% endblock page_header %}

{% block content %}
{% if object.get_run_news %}
	<h3>Latest News:</h3>
    <dl>
	{% for item in object.get_run_news|slice:":3" %}
        <dt>{{ item.pub_date|date }}</dt>
		<dd>{% oembed %}{{ item.body }}{% endoembed %}</dd>
	{% endfor %}
	</dl>
{% endif %}
<dl>
    <dt>When:</dt>
    <dd>{{ object.run_date }} at {{ object.run_time }}</dd>
    <dt>Where:</dt>
    <dd>{{ object.location }}</dd>
    <dt>Details:</dt>
    <dd>{{ object.details }}</dd>
    <dt>Contact:</dt>
    <dd>{{ object.contact.full_name}} at <a href="mailto:{{ object.contact.email }}">{{ object.contact.email }}</a</dd>
</dl>
<div>{{ object.map_iframe|safe }}</div>
{% endblock content %}
