{% extends "base.html" %}

{% load flickr %}
{% load oembed_tags %}

{% block title %}Weekly Runs{% endblock %}

{% block header %}
<div id="header">
    <div id="top">
        <div class="left" id="logo">
            <a href="/"><img src="http://www.ultrastory.com/Trail_Hawks/Hawk_logo.jpg" alt="" width="259" height="179" /></a>
        </div>
        <div class="left navigation" id="main-nav">
            <ul class="tabbed">
                <li><a href="/">Home</a></li>
                <li><a href="/races/">Races</a></li>
                <li class="current-tab"><a href="/runs/">Runs</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/photos/">Photos</a></li>
                <li><a href="/links/">Links</a></li>
            </ul>
            <div class="clearer">&nbsp;</div>
        </div>
        <div class="clearer">&nbsp;</div>
    </div>
</div>
{% endblock %}

{% block sub_nav %}
    <div class="navigation" id="sub-nav">
        <ul class="tabbed">
            {% for run in object_list %}
            {% ifchanged %}
            <li{% if object.slug %}{% else %} class="current-tab"{% endif %}><a href="{% url run_list %}">All</a></li>
            {% endifchanged %}
            {% ifequal object.slug run.slug %}
                <li class="current-tab"><a href="{{ run.get_absolute_url }}">{{ run.name }}</a></li>
            {% else %}
            <li><a href="{{ run.get_absolute_url }}">{{ run.name }}</a></li>
            {% endifequal %}
            {% endfor %}
        </ul>
        <div class="clearer">&nbsp;</div>
    </div>
{% endblock %}

{% block content %}{% endblock %}

{% block right_bar %}
<div class="right sidebar" id="sidebar">
  {% include "includes/flickr_photos.html" %}
</div>
<div class="clearer">&nbsp;</div>
{% endblock %}
