{% extends "base_bootstrap.html" %}

{% block nav_home_class %}class="active"{% endblock nav_home_class %}

{% block content_wrapper %}
<div class="content">
  {% block page_header_wrapper %}
  <div class="page-header">
    {% block page_header %}
      <h1>Homepage</h1>
    {% endblock page_header %}
  </div>
  {% endblock page_header_wrapper %}
  <div class="row">
    <div class="span8">
      {% block sub_navigation %}
      {% endblock sub_navigation %}

      {% block content %}
      {% endblock content %}

      {% block secondary_content %}
      {% endblock secondary_content %}
    </div>
    <div class="span4">
      {% block sidebar_content %}
      {% endblock sidebar_content %}
    </div>
  </div>
</div>
{% endblock content_wrapper %}
