{% load flickr %}
{% load micawber_tags %}
{% load photo_tags %}


{% if not photos %}
  {% get_random_photos 7 as photos %}
{% endif %}

{% for photo in photos %}
<div class="row">
  {% comment %}
  <p><img src='{% thumbor_url photo.get_medium_url|remove_http height=240 width=240 smart=True fit_in=True %}'></p>
  {% endcomment %}
  <div class="col-sm-12 col-md-12">
    <div class="tumbnail">
      {{ photo.photopage_url|oembed:"400x400" }}
      <div class="caption">
        <h4>{{ photo.description|safe }}</h4>
      </div>
    </div>
  </div>
</div>
{% endfor %}
