{% load waffle_tags %}

{% comment %}
based on: http://qz.com/39568/how-a-bogus-claim-about-instagram-losing-users-made-facebooks-stock-drop-nearly-3/
{% endcomment %}

{% flag use_share_panel %}
<hr>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <form class="form-inline" role="form">
            <div class="form-group">
                Share this:
                <div class="btn-toolbar" role="toolbar">
                    <div class="input-group">
                        <input type="text" id="shortURL" class="form-control" value="{{ object.get_short_url }}">
                        <span class="input-group-btn">
                            <button title="Copy to Clipboard" class="btn btn-primary" id="copy-button" data-clipboard-target="shortURL"><i class="fa fa-clipboard"></i> </button>
                        </span>
                    </div>
                    <div class="input-group">
                        <div class="input-group">
                            <a class="btn btn-sm btn-default" title="Share via Email" href="mailto:?subject=TrailHawks: {% firstof object.title|striptags|escape|truncatechars:200 object.name|striptags|escape|truncatechars:200 %}&amp;body={{ object.get_short_url }}%0A%0A{% firstof object.description|striptags|escape|truncatechars:200 object.body|striptags|escape|truncatechars:200 %}%0A%0A" target="_blank"><i class="fa fa-envelope"></i></a>
                            <a class="btn btn-sm btn-social-icon btn-facebook" title="Share on Facebook" href="https://www.facebook.com/sharer.php?s=100&amp;p[title]={% firstof object.title|striptags|escape|truncatechars:200 object.name|striptags|escape|truncatechars:200 %}&amp;p[url]={{ object.get_short_url }}&amp;p[summary]={% firstof object.description|striptags|escape|truncatechars:200 object.body|striptags|escape|truncatechars:200 %}&amp;p[images][0]=<%= item.image %>" target="_blank"><i class="fa fa-facebook"></i> </a>
                            <a class="btn btn-sm btn-social-icon btn-twitter" title="Share on Twitter" href="https://twitter.com/share?text={% firstof object.title|striptags|escape|truncatechars:200 object.name|striptags|escape|truncatechars:200 %}&amp;url={{ object.get_short_url }}&amp;via=trailhawks" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a class="btn btn-sm btn-social-icon btn-google-plus" title="Share on Google+" href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url={{ object.get_short_url }}" target="_blank"><i class="fa fa-google-plus"></i></a>
                            <a class="btn btn-sm btn-social-icon btn-tumblr" title="Share on Tumblr" href="" target="_blank"><i class="fa fa-tumblr"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% comment %}
<!--
    <li><a href="{% url 'contact' %}"><i class="icon-envelope"></i> Contact us</a></li>
    <li><a href="http://groups.yahoo.com/group/Lawrence_Trail_Hawks/"><i class="icon-group"></i> Yahoo! Group</a></li>
    <li><a href="http://www.facebook.com/home.php#/group.php?gid=91186762641&amp;ref=ts"><i class="icon-facebook-sign"></i> Facebook</a></li>
    <li><a href="http://www.twitter.com/trailhawks"><i class="icon-twitter-sign"></i> Twitter</a></li>
    <li><a href="http://www.flickr.com/photos/trailhawks"><i class="icon-flickr"></i> Flickr</a></li>
    <li><a href="https://github.com/organizations/TrailHawks"><i class="icon-github-sign"></i> Github</a></li>
-->
{% endcomment %}
{% endflag use_share_panel %}
