#carousel-homepage {
    max-height: 720px;
}

#map {
    height: 300px;
}

#map-canvas {
    height: 300px;
    width: 100%
}

#id_honeypot {
    display: none !important;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
/*
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
*/
/* Since positioning the image, we need to help out the caption */
/*
.carousel-caption {
  z-index: 10;
}
*/
/* Declare heights because of positioning of img element */
/*
.carousel .item {
  max-height: 500px !important;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-height: 500px !important;
}
*/

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* Races
------------------------- */
#races .past-races {
  margin-top: 40px;
}

#races .past-races a {
  margin-right: 60px;
  margin-bottom: 15px;
  float: left;
}

#races .past-races .col-md-12 {
  max-height: 200px;
  overflow: hidden;
}

#races .past-races .show-more {
  width: 100%;
  height: 100px;
  position: relative;
  float: left;
  margin-top: -55px;
  padding-top: 63px;
  text-align: center;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 53%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 53%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 53%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 53%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 53%); /* W3C */
}

#races .past-races .show-more a {
  float: none;
  margin: 0;
}

/* Events
------------------------ */
#events h2 {
  margin-bottom: 15px;
}
#events .event {
  margin: 15px 15px 15px 15px;
  padding: 0;
  background: url("../img/default-background.png") no-repeat;
  background-size: cover;
  width: calc(33% - 30px);
  height: 210px;
  text-align: center;
  color: #fff;
  font-style: italic;
}
#events .event .overlay {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  padding: 70px 0 0 0;
}
#events .event .overlay:hover {
  background: rgba(0,0,0,0.3);
}
#events .event p.race {
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 0;
}
#events .event span.date {
  font-size: 23px;
  line-height: 27px;
}
#events .event p.credit {
  font-size: 12px;
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  bottom: -5px;
  left: 10px;
  position: absolute;
  opacity: 0;
}
#events .event:hover p.credit {
  opacity: 1;
}
#events .past-events {
  margin-top: 40px;
}
#events .past-events a {
  margin-right: 60px;
  margin-bottom: 15px;
  float: left;
}
#events .past-events .col-md-12 {
  max-height: 200px;
  overflow: hidden;
}
#events .past-events .show-more {
  width: 100%;
  height: 100px;
  position: relative;
  float: left;
  margin-top: -55px;
  padding-top: 63px;
  text-align: center;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 53%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 53%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 53%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 53%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 53%); /* W3C */
}
#events .past-events .show-more a {
  float: none;
  margin: 0;
}
