{% extends "sponsors/base.html" %}

{% load flickr %}
{% load oembed_tags %}

{% block title %}Sponsors{% endblock title %}

{% block content %}
<div class="main" id="main-two-columns">

	<div class="left" id="main-content">
		<table>
		{% for sponsor in object_list %}
		  <tr>
			<td><a href="{{ sponsor.url }}"><img src="{{ sponsor.get_logo_url }}" alt="{{ sponsor.title }}" /></a></td>
		    <td>{% if sponsor.address %}<p><strong>Address: </strong>{{ sponsor.address }}</p>{% endif %}
				<p><strong>Discount: </strong>{{ sponsor.discount_detail }}</p>
			</td>
		  </tr>
		{% endfor %}
		</table>
	</div>

	<div class="right sidebar" id="sidebar">
		{% include "includes/flickr_photos.html" %}
	</div>

	<div class="clearer">&nbsp;</div>

</div>
{% endblock content %}
