{% extends "base.html" %}

{% load flickr %}
{% load oembed_tags %}

{% block title %}Sponsors{% endblock title %}

{% block sub_nav %}
<div class="navigation" id="sub-nav">
	<ul class="tabbed">
		<li><a href="/links/">Links</a></li>
		<li class="current-tab"><a href="/Sponsors/">Sponsors</a></li>
	</ul>
	<div class="clearer">&nbsp;</div>
</div>
{% endblock sub_nav %}

{% block content %}
<div class="main" id="main-two-columns">

	<div class="left" id="main-content">
		<table>
		{% for sponsor in object_list %}
		  <tr>
			<td><a href="{{ sponsor.url }}"><img src="/site_media/{{ sponsor.logo }}" /></a></td>
		       	<td>{% if sponsor.address %}<p><strong>Address: </strong>{{ sponsor.address }}</p>{% endif %}
			<p><strong>Discount: </strong>{{ sponsor.discount_detail }}</p>
			<td />
		  </tr>
		{% endfor %}
		</table>
		{% block sponsor_detail %}{% endblock %}
	</div>

	<div class="right sidebar" id="sidebar">
		{% include "includes/flickr_photos.html" %}
	</div>

	<div class="clearer">&nbsp;</div>

</div>
{% endblock sponsors %}
