{% extends "sponsors/base.html" %}

{% load flickr %}
{% load micawber_tags %}

{% block title %}Sponsors{% endblock title %}

{% block content %}
<div class="main" id="main-two-columns">

	<div class="left" id="main-content">
	{% for sponsor in object_list %}
		<div>
			<h3>{{ sponsor }}</h3>
			<div><a href="{{ sponsor.url }}"><img src="{{ sponsor.logo.url }}" alt="{{ sponsor.title }}" border="1"/>{{ sponsor.get_logo_url }}</a></div>
	    	{% if sponsor.address %}<p><strong>Address: </strong>{{ sponsor.address }}</p>{% endif %}
			<p><strong>Discount: </strong>{{ sponsor.discount_detail }}</p>
		</div>
	{% endfor %}
	</div>

	<div class="right sidebar" id="sidebar">
		{% include "includes/flickr_photos.html" %}
	</div>

	<div class="clearer">&nbsp;</div>

</div>
{% endblock content %}
