{% extends "base.html" %}

{% load oembed_tags %}
{% load photo_tags %}
{% load url from future %}

{% block title %}Photos{% endblock title %}

{% block content %}
<div class="main">

	<div class="section">

		<div class="section-content">

			<div class="post">

				<div class="post-title"><h2><a href="#">Trail Hawk Photos</a></h2></div>

				<div class="post-body">
			      {% for photo in object_list %}
			        <div>
			        	{% comment %}
					    <a href="{{ photo.photopage_url }}"><img src='{% thumbor_url photo.get_medium_url|remove_http height=480 width=480 smart=True fit_in=True %}'></a>
					    {% endcomment %}
						<a href="{{ photo.photopage_url }}"><img src="{{ photo.get_large_url }}"></a>
			        	<p>{{ photo.description|safe }}</p>
			        </div>
			      {% endfor %}
				</div>

			</div>

			{% if is_paginated %}
		        <div class="pagination">
		            <span class="page-links">
		                {% if page_obj.has_previous %}
		                    <a href="{% url 'photo_list' %}?page={{ page_obj.previous_page_number }}">previous</a>
		                {% endif %}
		                <span class="page-current">
		                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
		                </span>
		                {% if page_obj.has_next %}
		                    <a href="{% url 'photo_list' %}?page={{ page_obj.next_page_number }}">next</a>
		                {% endif %}
		            </span>
		        </div>
		    {% endif %}

			<div class="content-separator"></div>
			<p><a href="http://www.flickr.com/photos/trailhawks">Check out our Flickr page for more photos.</a></p>

			<div class="clearer">&nbsp;</div>

		</div>

	</div>

</div>
{% endblock content %}
