{% extends "blog/base.html" %}

{% load flickr %}
{% load oembed_tags %}

{% block title %}Blog{% endblock title %}

{% block page_header %}<h1>Blog</h1>{% endblock page_header %}

{% block content %}
<ul>
	{% for post in latest %}
    <div class="post">
		<div class="archive-post-date">
			<div class="archive-post-day">{{ post.publish|date:"j" }}</div>
			<div class="archive-post-month">{{ post.publish|date:"M" }}</div>
		</div>

		<div class="archive-post-title">
			<h3><a href="{{post.get_absolute_url}}">{{ post.title }}</a></h3>
			<div class="post-date">{{ post.publish|date }} by <a href="{{ post.author.get_absolute_url }}">{{ post.author.full_hawk_name }}</a></div>
		</div>
	</div>
	{% endfor %}
</ul>
{% endblock content %}
