{% extends base_template_name|default:"base.html" %}

{% block title %}Blog{% endblock title %}

{% block sub_nav %}
<div class="navigation" id="sub-nav">
    <ul class="tabbed">
        <li class="current-tab"><a href="/blog/">All Blog Posts</a></li>
    </ul>
    <div class="clearer">&nbsp;</div>
</div>
{% endblock sub_nav %}

{% block content %}
<div class="main" id="main-two-columns">

    <div class="left" id="main-content">
    <ul>
        {% for post in object_list %}
                  <div class="post">

                <div class="archive-post-date">
                    <div class="archive-post-day">{{post.publish|date:"j"}}</div>
                    <div class="archive-post-month">{{post.publish|date:"M"}}</div>
                </div>

                <div class="archive-post-title">
                    <h3><a href="{{post.get_absolute_url}}">{{ post.title }}</a></h3>
                    <div class="post-date">{{ post.publish|date }} by <a href="{{post.author.get_absolute_url}}">{{post.author.full_hawk_name}}</a></div>
                </div>

                <div class="clearer">&nbsp;</div>

            </div>

            <div class="archive-separator"></div>
        {% endfor %}
    </ul>
        {% block blog_detail %}{% endblock %}
    </div>

    <div class="right sidebar" id="sidebar">
        {% include "includes/flickr_photos.html" %}
    </div>

    <div class="clearer">&nbsp;</div>

</div>
{% endblock content %}
