{% extends base_template_name|default:"base.html" %}

{% block sub_nav %}
{% comment %}
<div class="navigation" id="sub-nav">
    <ul class="tabbed">
        <li class="current-tab"><a href="/races/">All Races</a></li>
        {# comment #}
        <li><a href="/races/results/">Race Results</a></li>
        <li><a href="/races/upcoming/">Upcoming Races</a></li>
        {# endcomment #}
        <li><a href="/races/racers/">Racers</a></li>
    </ul>
    <div class="clearer">&nbsp;</div>
</div>
{% endcomment %}
{% endblock sub_nav %}

