{% extends "base.html" %}

{% block sub_nav %}
<div class="navigation" id="sub-nav">
    <ul class="tabbed">
        {% if object.get_overall_results %}
        <li class="current-tab"><a href="/races/results/">Race Results</a></li>
        <li><a href="/races/upcoming/">Upcoming Races</a></li>
        {% else %}
        <li><a href="/races/results/">Race Results</a></li>
        <li class="current-tab"><a href="/races/upcoming/">Upcoming Races</a></li>
        {% endif %}
    </ul>
    <div class="clearer">&nbsp;</div>
</div>
{% endblock sub_nav %}
