{% extends "races/base.html" %}

{% block title %}Races{% endblock title %}

{% block content %}
<div class="main" id="main-two-columns">

	<div class="left" id="main-content">
		<h2>Upcoming Races</h2>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>event</th>
					<th>date</th>
				</tr>
			</thead>
			<tbody>
				{% for race in upcoming_races %}
				<tr>
					<td><a href="{{ race.get_absolute_url }}">{{ race.title }}</a></td>
					<td>{{ race.start_datetime }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<h2>Past Races</h2>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>event</th>
					<th>date</th>
				</tr>
			</thead>
			<tbody>
				{% for race in completed_races %}
				<tr>
					<td><a href="{{ race.get_absolute_url }}">{{ race.title }}</a></td>
					<td>{{ race.start_datetime|date }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="right sidebar" id="sidebar">
		{% include "includes/flickr_photos.html" %}
	</div>

	<div class="clearer">&nbsp;</div>

</div>
{% endblock content %}
