{% extends "races/base.html" %}

{% load flickr %}
{% load oembed_tags %}

{% block title %}All Races{% endblock title %}

{% block page_header %}<h1>All Races</h1>{% endblock page_header %}

{% block nav_races_races_class %}class="active"{% endblock nav_races_races_class %}

{% block content %}
<dl>
{% for race in upcoming_races %}
    {% ifchanged %}<dt>{{ race.start_datetime|date:"Y" }}</dt>{% endifchanged %}
    <dd><a href="{{ race.get_absolute_url }}">{{ race.title }} ({{ race.annual }})</a> - {{ race.start_datetime|date:"F j, Y" }}<dd>
{% endfor %}
<dl>

<h2>Results</h2>
<dl>
{% for race in completed_races %}
    {% ifchanged %}<dt>{{ race.start_datetime|date:"Y" }}</dt>{% endifchanged %}
	<dd><a href="{{ race.get_absolute_url }}">{{ race.title }} ({{ race.annual }})</a> - {{ race.start_datetime|date:"F j, Y" }}<dd>
{% endfor %}
<dl>
{% endblock content %}
