{% extends "races/base.html" %}

{% block title %}{{ object.full_name }}{% endblock title %}

{% block page_header %}<h1>{{ object.full_name }}</h1>{% endblock page_header %}

{% block nav_races_racers_class %}class="active"{% endblock nav_races_racers_class %}

{% block content %}
  <p><strong>Name:</strong> {{ object.full_name }}</p>
  <p><strong>Age:</strong> {{ object.age }}</p>
  <p><strong>Gender:</strong> {{ object.get_gender }}</p>

  {% if object.get_results %}
  <h3>Results:</h3>
	<dl>
	{% for result in object.get_results %}
		{% ifchanged %}<dt>{{ result.race.start_datetime|date:"Y" }}</dt>{% endifchanged %}
    <dd><a href="{{ result.race.get_absolute_url }}">{{ result.race.title }}</a> in {{ result.time }}</dd>
	{% endfor %}
	</dl>
  {% endif %}
{% endblock content %}
