{% extends "races/base.html" %}

{% block title %}Results in {{ month|date:"F Y" }}{% endblock title %}

{% block page_header %}<h1>Results in {{ month|date:"F Y" }}</h1>{% endblock page_header %}

{% block nav_races_races_class %}class="active"{% endblock nav_races_races_class %}

{% block content %}
<ul>
  {% for result in object_list %}
    <h3>{{ result.race_name }}</h3>
	<p><a href="{{ result.get_absolute_url }}">{{ result.race_date|date:"F j, Y" }}</a></p>
  {% endfor %}
</ul>
{% endblock content %}
