{% extends "races/base.html" %}

{% load core_tags %}
{% load faq_tags %}
{% load flickr %}
{% load links_tags %}
{% load mailhide %}
{% load markup %}
{% load photo_tags %}
{% load race_tags %}
{% load sponsors_tags %}
{% load url from future %}

{% block title %}{{object.title}}{% if object.get_overall_results %} Results{% endif %}{% endblock title %}

{% block content %}
<div class="main" id="main-two-columns">

	<div class="left" id="main-content">
		<h2>{{ object.annual|capfirst }} {{ object.title }}{% if object.get_overall_results %} Results{% endif %}</h2>
		<h4>{{ object.slogan }}</h4>

        {% if object.logo %}
          <img src="/site_media/{{object.logo}}" width="400" />
        {% endif %}
		<br />

		{% if object.get_race_news %}
		<p><strong>Latest News:</strong>
			{% for item in object.get_race_news|slice:":3" %}
			&nbsp;&nbsp;{{ item.body|markdown }}
			{% endfor %}
		</p>
		{% endif %}
		<p><strong>Race date:</strong> {{ object.start_datetime|date:"F j, Y" }}</p>
		<p><strong>Start time:</strong> {{ object.start_datetime|time:"h:i A" }}</p>
		<p><strong>Race distance:</strong> {{ object.distance }} {# object.get_unit_display #}</p>
        <p><strong>Race details:</strong> {{ object.description|markdown }}</p>

		{% if object.course_map %}
		<p>Click <a href="{{ object.course_map }}">here</a> for a course map.</p>
		{% endif %}

		{% for sponsor in object.sponsors.all %}
        <p><a href="{{ sponsor.url }}"><img src="/site_media/{{ sponsor.logo }}" width='90'></a></p>
        {% endfor %}

        <p><strong>Awards:</strong> {{ object.awards|markdown }}</p>

		{% if object.cut_off %}<p><strong>Cut off time:</strong> {{ object.cut_off }}</p>{% endif %}
		<p><strong>Location:</strong>
		{% if object.map_link %}<a href="{{object.map_link}}">{{ object.location }}</a>{% else %} {{ object.location }}{% endif %}<br /></p>
		{% if object.location_iframe %}<p>{{object.location_iframe|safe}}<br /></p>{% endif %}

		{% if object.race_directors.count %}
		<p>
			<strong>Race Director{{ object.race_directors.count|pluralize }}</strong>
			<ul>
			{% for race_directory in object.race_directors.all %}
				<li><a href="{% url 'member_detail' pk=race_directory.pk %}">{{ race_directory.full_hawk_name }}</a> - <a href="{{ race_directory.email|mailhide }}">contact</a></li>
			{% endfor %}
			</ul>
		</p>
		{% endif %}

		{% if not object.get_overall_results %}
			<p>
				<strong>Registration:</strong> {{ object.reg_description|markdown }}<br />
				{% if object.reg_url %}
				For online registration click <a href="{{ object.reg_url }}">here</a>.<br />
				{% endif %}

				<a class="btn btn-large btn-primary" href="{{ object.reg_url }}">Register!</a>

				{% if object.entry_form %}
				<br />For a printable entry form click <a href="/site_media/{{ object.entry_form }}">here</a>.<br />
				{% endif %}
			</p>

			{% if object.get_reg_dates %}
	            <p><strong><em>Entry fee:</em></strong></p>
				<ul>
				{% for reg in object.get_reg_dates %}
					<li>${{ reg.reg_cost }} until {{ reg.reg_date|date:"M d" }}</li>
				{% endfor %}
				</ul>
			{% endif %}

            <p>{{ object.discounts|markdown }}</p>

            {% if object.packet_pickup %}
			<p><strong>Packet Pickup:</strong> {{ object.packet_pickup|markdown }}</p>
			{% endif %}
        {% endif %}

		{% if object.lodging %}
		<p><strong>Lodging:</strong> Lodging information can be found <a href="{{ object.lodging }}">here</a>.</p>
		{% endif %}

		{% if object.get_race_reports %}
		  {% include "races/includes/race_reports.html" %}
		{% endif %}

		{% get_race_types_for_race object as race_types %}
		{% if race_types %}
		  <p><h3>Results:</h3>
		  <ul>
		  {% for race_type in race_types %}
			<li><a href="{{ object.get_absolute_url }}results/#{{ race_type.slug }}-overallresults">{{ race_type.name }} Overall Results</a></li>
			<li><a href="{{ object.get_absolute_url }}results/#{{ race_type.slug }}-maleresults">{{ race_type.name }} Male Results</a></li>
			<li><a href="{{ object.get_absolute_url }}results/#{{ race_type.slug }}-femaleresults">{{ race_type.name }} Female Results</a></li>
		  {% endfor %}
		</ul>
		</p>
		{% endif %}

		{% render_facebook_like obj=object %}

		{% get_links_for_object object as link_list %}
		{% if link_list %}
		<hr>
		<h3>Links</h3>
		{% for link in link_list %}
		    <h4>{{ link.name }}</h4>
		    {{ link.description|markdown }}
		{% endfor %}
		{% endif %}


		{% get_faqs_for_object object as faq_list %}
		{% if faq_list %}
		<hr>
		<h3>Frequently Asked Questions</h3>
		{% for faq in faq_list %}
		    <h4>{{ faq.question }}</h4>
		    {{ faq.answer|markdown }}
		{% endfor %}
		{% endif %}


		{% get_sponsors_for_object object as sponsor_list %}
		{% if sponsor_list %}
		<hr>
		<h3>Sponsors</h3>
		{% for sponsor in sponsor_list %}
		    <h4>{{ sponsor.name }}</h4>
		    {{ sponsor.discount_detail|markdown }}
		{% endfor %}
		{% endif %}

		<hr>
		{% include "comments/comments.html" %}

	</div>

	<div class="right sidebar" id="sidebar">
		{% get_photos_by_machine_tags object.get_machine_tags num=10 random=1 as photos_list %}
		{% include "includes/flickr_photos.html" with photos=photos_list %}
	</div>

	<div class="clearer">&nbsp;</div>

</div>
{% endblock content %}
