{% extends "races/racer_list.html" %}

{% block title %}{{ object.full_name }}{% endblock title %}

{% block racer_detail %}
  <p><strong>Name:</strong> {{ object.full_name }}</p>
  <p><strong>Age:</strong> {{ object.age }}</p>
  <p><strong>Gender:</strong> {{ object.get_gender_display }}</p>
  {% if object.get_results %}
  <p><strong>Results:</strong>
	<ul>
	{% for result in object.get_results %}
		<li>Ran <a href="{{ result.race.get_absolute_url }}">{{ result.race.title }}</a> - in {{ result.time }} {% if result.course_record %}(course record){% endif %}</li>
	{% endfor %}
	</ul></p>
  {% endif %}
{% endblock racer_detail %}
