{% extends "base.html" %}
{% load oembed_tags %}
{% load flickr %}

{% block title %}Races{% endblock %}

{% block header %}
	<div id="header">
		<div id="top">
			<div class="left" id="logo">
				<a href="/home"><img src="http://www.ultrastory.com/Trail_Hawks/Hawk_logo.jpg" alt="" width="259" height="179" /></a>
			</div>
			<div class="left navigation" id="main-nav">
				<ul class="tabbed">
					<li><a href="/">Home</a></li>
					<li class="current-tab"><a href="/races/">Races</a></li>
					<li><a href="/runs/">Runs</a></li>
					<li><a href="/photos/">Photos</a></li>
					<li><a href="/faq/">FAQ</a></li>
				</ul>
				<div class="clearer">&nbsp;</div>
			</div>
			<div class="clearer">&nbsp;</div>
		</div>
	</div>
{% endblock %}

{% block sub_nav %}

<div class="navigation" id="sub-nav">
	<ul class="tabbed">
		<li><a href="/races/results/">Race Results</a></li>
		<li class="current-tab"><a href="/races/upcoming/">Upcoming Races</a></li>
	</ul>
	<div class="clearer">&nbsp;</div>
</div>

{% endblock %}

{% block race_index %}
<div class="main" id="main-two-columns">

	<div class="left" id="main-content">
		<h2>Upcoming Races</h2>
		  <ul>
			{% for race in latest %}
			<li><a href="{{ race.get_absolute_url }}">{{ race.title }}</a> - {{race.start_datetime|date:"F j, Y"}}</li>
			{% endfor %}
		  </ul>
	</div>

	<div class="right sidebar" id="sidebar">

		{% get_random_photos 7 as random_photos %}
		{% for photo in random_photos %}
		    <p><a href="{{ photo.get_absolute_url }}">{% oembed %}{{ photo.photopage_url }}{% endoembed %}</a></p>
		{% endfor %}
		
	</div>

	<div class="clearer">&nbsp;</div>

</div>




{% endblock %}
