
#carousel-homepage
    max-height: 720px

#map
    height: 300px

#map-canvas
    height: 300px
    width: 100%

#id_honeypot
    display: none !important


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body
    padding-bottom: 40px
    color: #5a5a5a

/*
------------------------
    Events
------------------------
*/
#events
    h2
        margin-bottom: 15px

    .event
        margin: 15px 15px 15px 15px
        padding: 0
        background: url('../img/global/krakow.png') no-repeat
        background-size: cover
        width: calc(33% - 30px)
        height: 210px
        text-align: center
        color: white
        font-style: italic

        .overlay
            height: 100%
            width: 100%
            background: rgba(0,0,0,0.5)
            padding: 70px 0 0 0

            &:hover
                background: rgba(0,0,0,0.3)

        p.city
            font-size: 36px
            line-height: 41px
            margin-bottom: 0

        span.date
            font-size: 23px
            line-height: 27px

        p.credit
            font-size: 12px
            text-align: left
            font-family: sans_font
            font-style: normal
            bottom: -5px
            left: 10px
            position: absolute
            opacity: 0

        &:hover
            p.credit
                opacity: 1

    .past-events
        margin-top: 40px

        a
            margin-right: 60px
            margin-bottom: 15px
            float: left

        .col-md-12
            max-height: 200px
            overflow: hidden

        .show-more
            width: 100%
            height: 100px
            position: relative
            float: left
            margin-top: -55px
            padding-top: 63px
            text-align: center
            background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 53%); /* FF3.6+ */
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 53%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 53%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 53%); /* IE10+ */
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 53%); /* W3C */

            a
                float: none
                margin: 0
/*
------------------------
    Races
------------------------
*/
#races
    h2
        margin-bottom: 15px

    .race
        margin: 15px 15px 15px 15px
        padding: 0
        background: url('../img/global/krakow.png') no-repeat
        background-size: cover
        width: calc(33% - 30px)
        height: 210px
        text-align: center
        color: white
        font-style: italic

        .overlay
            height: 100%
            width: 100%
            background: rgba(0,0,0,0.5)
            padding: 70px 0 0 0

            &:hover
                background: rgba(0,0,0,0.3)

        p.city
            font-size: 36px
            line-height: 41px
            margin-bottom: 0

        span.date
            font-size: 23px
            line-height: 27px

        p.credit
            font-size: 12px
            text-align: left
            font-family: sans_font
            font-style: normal
            bottom: -5px
            left: 10px
            position: absolute
            opacity: 0

        &:hover
            p.credit
                opacity: 1

    .past-races
        margin-top: 40px

        a
            margin-right: 60px
            margin-bottom: 15px
            float: left

        .col-md-12
            max-height: 200px
            overflow: hidden

        .show-more
            width: 100%
            height: 100px
            position: relative
            float: left
            margin-top: -55px
            padding-top: 63px
            text-align: center
            background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 53%); /* FF3.6+ */
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 53%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 53%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 53%); /* IE10+ */
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 53%); /* W3C */

            a
                float: none
                margin: 0

/*
--------------
    Footer
--------------
*/
.page-wrap
    min-height: 100%
    margin-bottom: -300px

    &:after
        content: ""
        display: block

footer, .page-wrap:after
    height: 300px

footer
    background: #F9F7F7
    padding: 65px 0 0 0
    margin-top: 90px

    .row
        margin: 0

        .col-md-3
            p
                text-transform: uppercase
                font-family: sans_font
                color: orange
                font-size: 18px
                line-height: 21px
            ul
                list-style-type: none
                padding: 0

                li
                    margin-left: 0
                    font-size: 18px
                    line-height: 28px

                    a
                        text-decoration: none

/*
---------------------
    Flatpages
---------------------
*/

#flatpage
    h1

/*
---------------------
    Responsiveness
---------------------
*/
@media (max-width: 1024px)
    nav
        ul
            li
                margin-left: 30px

    #events
        .row
            .event
                width: calc(50% - 30px)
                float: left

    #supporters
        .row
            .col-md-3
                width: calc(50% - 30px)
                float: left

    footer
        padding-top: 50px
        .row
            .col-md-3
                float: left
                width: calc(50% - 30px)
                margin-bottom: 30px

    footer, .page-wrap:after
        height: 480px

    .page-wrap
        margin-bottom: -480px


@media (max-width: 725px)
    nav
        ul
            display: none

    #box-with-picture
        height: auto
        background-position: center center

        .container
            padding: 20px

            h1
                font-size: 30px
                line-height: 36px
            p
                font-size: 18px
                line-height: 22px

    #about
        .gallery
            display: none

    #events
        .row
            .event
                width: 90%

    #organize
        form
            input[type="text"], input[type="email"]
                margin-bottom: 15px

    #supporters
        .row
            .col-md-3
                width: 90%

    footer
        padding-top: 50px
        .row
            .col-md-3
                width: 90%
                margin-bottom: 30px

    footer, .page-wrap:after
        height: 900px

    .page-wrap
        margin-bottom: -900px

/*
------------------------
    Core
------------------------
*/

.overlay
    padding: 100px 0
    width: 100%
    height: 100%
    background: rgba(0,0,0,0.6)
    color: white

.btn, .btn:hover
    background: mint
    color: white
    font-family: sans_font
    font-size: 18px
    font-weight: 100
    margin: 20px 0 0 0
    padding: 15px 30px

.rsvp-buttons
    a
        font-size: 12px
        font-family: sans_font
    .btn
        font-size: 14px
        padding: 5px 10px
        margin: 0 10px 20px 0
        float: left

.with-background
    background: url('../img/photos/photo1.jpg') 50% 0 no-repeat fixed
    background-size: cover
    height: auto
    color: white

.without-background
    padding-top: 60px
    padding-bottom: 60px

#about
    .overlay
        padding: 150px 0

        h1
            font-family: serif_font
            font-size: 60px
            color: white
            line-height: 60px
            font-style: italic
            margin-bottom: 20px

        h2
            font-family: serif_font
            font-size: 40px
            color: #E7E7E7
            line-height: 40px
            font-style: italic

/* ---------------------
 Responsive design fixes
---------------------- */

@media (max-width: 1024px)

    h1
        font-size: 36px

    h2
        font-size: 26px

    #about
        background-attachment: scroll
        height: auto
        .overlay
            padding: 80px 0

    #apply
        background-attachment: scroll

    #coach
        background-attachment: scroll

    footer
        background-attachment: scroll
        background-position: 0

    #value
        .col-md-6:last-child
            margin-top: 40px

    #sponsors
        img
            max-width: 300px
            margin-top: 30px
        .row
            padding: 0 0 30px 0

    footer .social .twitter
        margin-top: 0px

    .navbar-default
        .navbar-nav
            .optional
                display: none

.sponsor-logos
    margin: 30px 0 0 0
    .col-md-3
        text-align: center

        img
            max-width: 80%
            height: auto

        p
            margin-top: 15px

#resources
    .row
        margin-bottom: 50px

    .cover
        float: left
        margin: 0 30px 0 0
        img
            border-radius: 3px

    .info
        p
            margin-bottom: 0
        .btn
            margin-bottom: 10px
            padding: 10px 30px

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 480px)
    #about .overlay
        padding-top: 50px
        padding-bottom: 50px

    #about
        background-position: 0

    h1
        font-size: 30px

    h2
        font-size: 24px

    footer .social .twitter
        margin: 50px 0 0 12px

    #sponsors
        .row
            padding: 0 0 30px 0

    .navbar-default
        .navbar-nav
            width: auto
            padding-left: 0px
            li
                height: auto
                padding-top: 10px
                a
                    color: black

    .navbar-default .navbar-collapse
        border: 0px !important
        margin-top: 20px

@media only screen and (max-width : 320px)
    #about
        .overlay
            h1
                font-size: 50px

            h2
                font-size: 30px
