{% extends "base.html" %}
{% load oembed_tags %}
{% load flickr %}

{% block title %}Page not found{% endblock %}

{% block header %}
	<div id="header">
		<div id="top">
			<div class="left" id="logo">
				<a href="/"><img src="http://www.ultrastory.com/Trail_Hawks/Hawk_logo.jpg" alt="" width="259" height="179" /></a>
			</div>
			<div class="left navigation" id="main-nav">
				<ul class="tabbed">
					<li><a href="/">Home</a></li>
					<li><a href="/races/">Races</a></li>
					<li><a href="/runs/">Runs</a></li>
					<li><a href="/blog/">Blog</a></li>
					<li><a href="/photos/">Photos</a></li>
					<li><a href="/links/">Links</a></li>
				</ul>
				<div class="clearer">&nbsp;</div>
			</div>
			<div class="clearer">&nbsp;</div>
		</div>
	</div>
{% endblock %}

{% block contact %}
<div class="main" id="main-two-columns">

	<div class="left" id="main-content">
          <h2>Uh oh! Good job the page you were trying to get couldn't
              be found. </h2>
          <br>
          <h3>I couldn't find the page you were looking for so here's a
          Tarsiers with his beloved stick.</h3>
            <img src="/site_media/img/stick.jpg">
      </div>

	<div class="right sidebar" id="sidebar">

			{% include "includes/flickr_photos.html" %}

	</div>

	<div class="clearer">&nbsp;</div>

</div>
{% endblock %}


