{% extends base_template_name|default:"base.html" %}

{% block title %}Website Error{% endblock %}

{% block content %}
<div class="main" id="main-two-columns">

	<div class="left" id="main-content">
          <h2>Uh oh! There was an error!</h2>
          <br>
          <h3>I couldn't find the page you were looking for so here's a
          Tarsiers with his beloved stick.</h3>
            <img src="/site_media/img/stick.jpg">
      </div>

	<div class="right sidebar" id="sidebar">

		{% include "includes/flickr_photos.html" %}

	</div>

	<div class="clearer">&nbsp;</div>

</div>
{% endblock content %}
