<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<link rel="stylesheet" type="text/css" href="/site_media/css/style.css" media="screen" />
	<title>{% block title %}Lawrence Trailhawks {% endblock %}</title>
</head>
<body>
	<div id="site-wrapper">
	{% block header %}
		<div id="header">
			<div id="top">
				<div class="left" id="logo">
					<a href="/home"><img src="http://www.ultrastory.com/Trail_Hawks/Hawk_logo.jpg" alt="" width="259" height="179" /></a>
				</div>
				<div class="left navigation" id="main-nav">
					<ul class="tabbed">
						<li class="current-tab"><a href="/">Home</a></li>
						<li><a href="/races/">Races</a></li>
						<li><a href="/runs/">Runs</a></li>
						<li><a href="/photos/">Photos</a></li>
						<li><a href="/sponsors/">Sponsors</a></li>
					</ul>
					<div class="clearer">&nbsp;</div>
				</div>
				<div class="clearer">&nbsp;</div>
			</div>
		</div>
	{% endblock %}
	
	{% block sub_nav %}{% endblock %}
	{% block home_page %}{% endblock %}
	{% block race_index %}{% endblock %}
	{% block weekly_runs %}{% endblock %}
	{% block photos %}{% endblock %}
	{% block faq %}{% endblock %}
	{% block race_detail %}{% endblock %}
	
	{% block footer %}
	<div id="footer">
		<div class="left" id="footer-left">
			<img src="http://ultrastory.com/Trail_Hawks/LTH_logo.jpg" width="90" height="65" alt="" class="left" />
			<p>&copy; 2009-2010 Lawrence Trail Hawks. All rights Reserved</p>
			<p class="quiet"><a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a></p>
			<div class="clearer">&nbsp;</div>
		</div>
		<div class="right" id="footer-right">
			<p class="large"><strong><a href="http://ultrasignup.com/register.aspx?did=7418">Join Us</a></strong> <span class="text-separator">|</span> <a href="http://groups.yahoo.com/group/Lawrence_Trail_Hawks/">Email list</a> <span class="text-separator">|</span> <a href="http://www.flickr.com/photos/trailhawks">Flickr</a> <span class="text-separator">|</span> <a href="http://www.twitter.com/trailhawks">Twitter</a> <span class="text-separator">|</span> <a href="http://www.facebook.com/home.php#/group.php?gid=91186762641&ref=ts">Facebook</a> <span class="text-separator">|</span> <a href="#top" class="quiet">Page Top &uarr;</a></p>
		</div>
		<div class="clearer">&nbsp;</div>
	</div>
	{% endblock %}
</div>
</body>