<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<link rel="stylesheet" type="text/css" href="/site_media/css/style.css" media="screen" />
	<script type="text/javascript" src="/site_media/js/jquery-1.3.1.min.js"></script> 
        <script type="text/javascript" src="/site_media/js/jquery.juitter.js"></script> 
        <script type="text/javascript" src="/site_media/js/system.js"></script>
        <div id="fb-root"></div>
        <script>
           window.fbAsyncInit = function() {
              FB.init({appId: 'your app id', status: true, cookie: true,
                       xfbml: true});
              };
              (function() {
                   var e = document.createElement('script'); e.async = true;
                   e.src = document.location.protocol +
                       '//connect.facebook.net/en_US/all.js';
                   document.getElementById('fb-root').appendChild(e);
             }());
        </script>
	<title>{% block title %}Lawrence Trailhawks {% endblock %}</title>
</head>
<body>
	<div id="site-wrapper">
	{% block header %}
		<div id="header">
			<div id="top">
				<div class="left" id="logo">
					<a href="/"><img src="http://www.ultrastory.com/Trail_Hawks/Hawk_logo.jpg" alt="" width="259" height="179" /></a>
				</div>
				<div class="left navigation" id="main-nav">
					<ul class="tabbed">
						<li class="current-tab"><a href="/">Home</a></li>
						<li><a href="/races/">Races</a></li>
						<li><a href="/runs/">Runs</a></li>
						<li><a href="/blog/">Blog</a></li>
						<li><a href="/photos/">Photos</a></li>
						<li><a href="/links/">Links</a></li>
					</ul>
					<div class="clearer">&nbsp;</div>
				</div>
				<div class="clearer">&nbsp;</div>
			</div>
		</div>
	{% endblock %}

        {% block contact %}{% endblock %}	
	{% block sub_nav %}{% endblock %}
	{% block home_page %}{% endblock %}
	{% block race_index %}{% endblock %}
	{% block weekly_runs %}{% endblock %}
	{% block photos %}{% endblock %}
	{% block faq %}{% endblock %}
	{% block race_detail %}{% endblock %}
	{% block members %}{% endblock %}
	{% block sponsors %}{% endblock %}
	{% block blog_index %}{% endblock %}
	{% block racer_index %}{% endblock %}
	
	{% block footer %}
	<div id="footer">
		<div class="left" id="footer-left">
			<a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangopowered126x54.gif" border="0" alt="Powered by Django." title="Powered by Django." class="left"/></a>
			<a href="http://www.rrca.org"><img src="http://www.rrca.org/images/hero/2010_RRCA_Logo_small.jpg" border="0" alt="RRCA" class="right" height="80"></a>
                        <p>&copy; 2009-2010 Lawrence Trail Hawks.<br />All rights Reserved</p>
			<p class="quiet"><a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a></p>
                        <div class="clearer">&nbsp;</div>
		</div>
		<div class="right" id="footer-right">
			<p class="large"><strong><a href="http://ultrasignup.com/register.aspx?did=7418">Join Us</a></strong> <span class="text-separator">|</span> <a href="/contact/">Contact us</a> <span class="text-separator">|</span> <a href="http://www.flickr.com/photos/trailhawks">Flickr</a> <span class="text-separator">|</span> <a href="http://www.twitter.com/trailhawks">Twitter</a> <span class="text-separator">|</span> <a href="http://www.facebook.com/home.php#/group.php?gid=91186762641&ref=ts">Facebook</a> <span class="text-separator">|</span> <a href="#top" class="quiet">Page Top &uarr;</a></p>
		</div>
		<div class="clearer">&nbsp;</div>
	</div>
	{% endblock %}
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-16156214-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
