{% extends "base_bootstrap.html" %}

{% load flickr %}
{% load oembed_tags %}

{% block title %}Contact Us{% endblock title %}

{% block page_header %}<h1>Contact Us</h1>{% endblock page_header %}

{% block content %}
{% if officers %}
  <h2>Trailhawk Officers</h2>
  <dl>
  {% for officer in officers %}
    <dt>{{ officer.position_name }}</dt>
    <dd><a href="{{ officer.get_absolute_url }}">{{ officer }}</a></dd>
  {% endfor %}
  </dl>
{% endif %}

<h2>Contact us</h2>

<p>You can get in contact with the trail hawks by joining our <a href="http://groups.yahoo.com/group/Lawrence_Trail_Hawks/">Yahoo mailing list</a> or by filling out the form below.</p>

<p>We look forward to running with you soon.</p>

<form action="." method="post" class="form-horizontal">
  {% csrf_token %}
  <fieldset>
    <legend>Contact us</legend>

    <div class="control-group {% if form.subject.errors %}error{% endif %}">
      <label class="control-label" for="id_subject">Subject</label>
      <div class="controls">
        <input class="input-xlarge focused" type="text" id="id_subject" name="subject" maxlength="100">
        {% if form.subject.errors %}<span class="help-inline">{{ form.subject.errors }}</span>{% endif %}
      </div>
    </div>

    <div class="control-group {% if form.sender.errors %}error{% endif %}">
      <label class="control-label" for="id_sender">Email</label>
      <div class="controls">
        <input class="input-xlarge focused" type="text" id="id_sender" name="sender" maxlength="100">
        {% if form.sender.errors %}<span class="help-inline">{{ form.sender.errors }}</span>{% endif %}
      </div>
    </div>

    <div class="control-group {% if form.message.errors %}error{% endif %}">
      <label class="control-label" for="id_message">Message</label>
      <div class="controls">
        <textarea class="input-xlarge focused" id="id_message" name="message" cols="10" rows="10" tabindex="4"></textarea>
        {% if form.message.errors %}<span class="help-inline">{{ form.message.errors }}</span>{% endif %}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="id_cc_myself">Cc myself:</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" id="id_cc_myself" name="cc_myself" value="option1">
        </label>
      </div>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </fieldset>
</form>
{% endblock content %}

{% block secondary_content %}
{% include "includes/flickr_photos.html" %}
{% endblock secondary_content %}
