{% extends base_template_name|default:"base.html" %}


{% load url from future %}
{% load blog_tags %}
{% load core_tags %}
{% load faq_tags %}
{% load flickr %}
{% load mailhide %}
{% load markup %}
{% load micawber_tags %}
{% load news_tags %}
{% load photo_tags %}
{% load race_tags %}
{% load run_tags %}
{% load twitterfy %}
{% load waffle_tags %}

{% switch use_thumbor %}
{% load thumbor_tags %}
{% endswitch %}


{% block content-wrapper %}
    {% switch use_thumbor %}
    {% get_random_photos 7 as photos %}
    <div id="carousel-example-generic" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for photo in photos %}
        <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %}></li>
        {% endfor %}
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        {% for photo in photos %}
        <div class="item {% if forloop.first %}active{% endif %}">
          {% comment %}<a href="{{ photo.photopage_url }}"></a>{% endcomment %}
            <img src='{% thumbor_url photo.get_large_url height=400 width=1200 %}' alt="{{ photo.caption }}">
          <div class="carousel-caption">
            <p>{{ photo.description|safe }}</p>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="icon-next"></span>
      </a>
    </div>
    {% endswitch use_thumbor %}

    <div class="row">
        <div class="col-md-4">
            <h2>What's happening</h2>
            {% get_latest_news num=4 as latest_news %}
            {% for item in latest_news %}
            <h4>{{ item.pub_date|date }}</h4>
            {{ item.body|oembed:"600x600"|markdown|truncatewords_html:"100" }}
            {% endfor %}
            <a class="btn btn-block btn-primary" href="{% url 'news_list' %}">more news</a>
        </div>

        {% get_todays_runs as runs %}
        {% if runs.todays_run %}
        <div class="col-md-8">
			<h2>Today's Run</h2>
            {% for run in runs.todays_run %}
				<h3 class="quiet"><a href="{{ run.get_absolute_url }}">{{ run.name }}</a></h3>
                {% if run.get_run_news %}
                    <h4>Latest News:</h4>
                    {% for item in run.get_run_news|slice:":3" %}
                        <div>{{ item.body }} - ({{ item.pub_date|timesince }} ago)</div>
                    {% endfor %}
                {% endif %}
				<p><em><strong>Where: </strong></em>{{ run.location}}<br />
                    <a href="{{ run.map_link}}">Click here for directions.</a></p>
				<p><em><strong>When: </strong></em>{{ run.run_time }}</p>
				<p><em><strong>What: </strong></em>{{ run.details }}</a></p>
				<p><em><strong>Contact: </strong></em><a href="{{ run.contact.email|mailhide }}">{{ run.contact.full_hawk_name }}</a></p>
			{% empty %}
				<p>No run scheduled for today</p>
            {% endfor %}
        </div>
        {% endif %}

        <div class="col-md-8">
            <h2>Next Run</h2>
            {% for run in runs.next_run %}
                <h3><a href="{{ run.get_absolute_url }}">{{ run.name }}</a></h3>
                {% if run.get_run_news %}
                    <h4>Latest News:</h4>
                    {% for item in run.get_run_news|slice:":3" %}
                        <div>{{ item.body }} - ({{ item.pub_date|timesince }} ago)</div>
                    {% endfor %}
                {% endif %}
                <p><em><strong>Where: </strong></em>{{ run.location}}<br />
                    <a href="{{ run.map_link}}">Click here for directions.</a></p>
                <p><em><strong>When: </strong></em>{{ run.get_day_of_week_display }} {{ run.run_time }}</p>
                {% if not todays_run %}
                    <p><em><strong>What: </strong></em>{{ run.details }}</a></p>
                    <p><em><strong>Contact: </strong></em><a href="mailto:{{ run.contact.email|mailhide }}">{{ run.contact.full_hawk_name }}</a></p>
                {% endif %}
            {% empty %}
                <p class="quiet large">No upcoming scheduled runs</p>
            {% endfor %}
		</div>

        <div class="col-md-8">
            {% get_latest_races as latest_race %}
            {% if latest_race %}
                <h3>Upcoming Event</h3>
                <div class="section-content">
                    <div class="post">
                        <h2><a href="{{ latest_race.get_absolute_url }}">{{ latest_race.title }}</a></h2>
                        <div class="post-date">{{ latest_race.start_datetime|date:"D d M, Y" }}</div>
                        {% if latest_race.logo %}
                            <p><a href="#"><img src="{{ latest_race.logo.url }}" width="400" alt="" class="bordered" /></a></p>
                        {% endif %}
                        <p class="large">{{ latest_race.slogan }}</p>
                        {% if latest_race.get_race_news %}
                        <p><strong>Latest News:</strong>
                            {% for item in latest_race.get_race_news|slice:":3" %}
                            {{ item.body|oembed:"600x600"|markdown }}
                            {% endfor %}
                        </p>
                        {% endif %}
                        <p><strong><em>Where: </em></strong>{{ latest_race.location }}<br />
                        <a href="{{ latest_race.map_link }}">Click here for directions.</a></p>
                        <p><strong><em>Course: </em></strong>{{ latest_race.description|oembed:"600x600"|markdown }}<br />
                        {% if latest_race.course_map %}
                        Click <a href="{{ latest_race.course_map }}">here</a> for course map.</p>
                        {% endif %}
                        <ul>
                            {% for reg in latest_race.get_reg_dates %}
                            <li>${{ reg.reg_cost }} until {{ reg.reg_date|date:"M d" }}</li>
                            {% endfor %}
                        </ul>
                        <p>{{ latest_event.discount }}</p>
                    </div>
                </div>
            {% else %}
                <h2>Latest Post</h2>
                <div class="section-content">
                    <div class="post">
                        <div class="post-title"><h2><a href="{{ latest_post.get_absolute_url }}">{{ latest_post.title }}</a></h2></div>
                        <div class="post-date">{{ latest_post.publish|date:"D d M, Y" }} by <a href="{{ latest_post.author.get_absolute_url }}">{{ latest_post.author}}</a></div>
                        <div class="post-body">
                            {{ latest_post.body|markdown|truncatewords:"400" }}
                            <p><a href="{{ latest_post.get_absolute_url }}">Read more...</a></p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        {% comment %}
        <div class="col-md-3">
            <h2>Follow Us</h2>
            <p><a href="http://twitter.com/trailhawks">http://twitter.com/trailhawks</a></p>
        </div>
        {% endcomment %}

        <div class="col-md-4">
            {% block faq_preview %}
            {% get_latest_faqs 5 as recent_faqs %}
            <h3>FAQ</h3>
            <ul>
                {% for faq in recent_faqs %}
                <li><a href="{{ faq.get_absolute_url }}">{{ faq.question }}</a></li>
                {% endfor %}
            </ul>
            <p><a href="{% url 'faq_list' %}" class="more">Browse all FAQ &#187;</a></p>
            {% endblock %}
        </div>

        <div class="col-md-4">
            <h3>Trailhawk Calendar</h3>
            <p>Subscribe to our calendar to keep upto date on
            all Trailhawk events, not just our races.</p>
            <p><a href="http://lawrencetrailhawks.com{% url 'race_ical' %}">Subscribe</a></p>
        </div>

        {% comment %}
        <div class="col-md-3">
            <h3>RRCA Syndicated News</h3>
            <ul class="nice-list">
              {% get_rrca_news as rrca_news %}
                {% for item in rrca_news %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
              {% endfor %}
            </ul>
        </div>
        {% endcomment %}

        <div class="col-md-4">
			{% block blog_preview %}
			{% get_latest_posts 5 as posts %}
			<h3>Hawk Talk</h3>
			<ul>
				{% for post in posts %}
				<li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> <span class="quiet">by <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></span></li>
				{% endfor %}
			</ul>
            <p><a href="/blog/" class="more">Read more &#187;</a></p>
			{% endblock %}
		</div>

        {% comment %}
        <div class="col-md-6">
			<h3>About Us</h3>
			<div class="section-content">
			<p>The Lawrence Trail Hawks, founded by Lawrence area trail and ultra runners, will run on, promote and care for the Lawrence trails, including the Kansas River Trails and the Clinton Lake North Shore Trails.</p>
			<p>We'll work with the Department of Parks and Wildlife and the Kansas Trails Council to help keep the trails groomed and free of trash.</p>
			<p>We'll stage events, and help with other groups' events that meet our goals of promoting and caring for the trails.</p>
			<p>We will take care of the trails, our fellow Trail Hawk members, and all others who have interest in the trails similar to our own.</p>
			</div>
		</div>
        {% endcomment %}
	</div>
{% endblock content-wrapper %}
