{% extends base_template_name|default:"base.html" %}


{% load url from future %}
{% load blog_tags %}
{% load core_tags %}
{% load faq_tags %}
{% load flickr %}
{% load mailhide %}
{% load markup %}
{% load micawber_tags %}
{% load news_tags %}
{% load photo_tags %}
{% load race_tags %}
{% load run_tags %}
{% load staticfiles %}
{% load thumbor_tags %}
{% load twitterfy %}
{% load waffle_tags %}


{% block post_style %}
<style>
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

</style>
{% endblock post_style %}


{% block content %}
{% switch use_thumbor %}
<div class="row">
  <div class="col-md-12">
    {% get_random_photos 5 as photos %}
    <div id="carousel-homepage" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for photo in photos %}
        <li data-target="#carousel-homepage" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %}></li>
        {% endfor %}
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        {% for photo in photos %}
        <div class="item {% if forloop.first %}active{% endif %}">
          <img data-src="{% thumbor_url photo.get_large_url height=500 width=1200 smart=True %}" src="http://placehold.it/1200x500"{% comment %}{% static 'img/hawk-logo.jpg' %}{% endcomment %} alt="{{ photo.caption }}" height="500" width="1200">
          <div class="carousel-caption">
            {% if photo.caption %}
            <h3>{{ photo.caption|safe }}</h3>
            {% endif %}
            <p>{{ photo.description|safe }}</p>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- Controls -->
      <a class="carousel-control left" href="#carousel-homepage" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="carousel-control right" href="#carousel-homepage" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>
{% endswitch use_thumbor %}

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">What's happening</h2>
      </div>
      <div class="panel-body">
        {% get_latest_news num=4 as latest_news %}
        {% for news in latest_news %}
        <div class="{% if news.alert_status %}alert alert-{{ news.alert_status }}{% endif %}">
          <h4 class="">{{ news.pub_date|date }}</h4>
          {{ news.body|oembed:"600x600"|markdown|truncatewords_html:"100" }}
        </div>
        <hr>
        {% endfor %}
        <a class="btn btn-block btn-primary" href="{% url 'news_list' %}">more news</a>
      </div>
    </div>
  </div>

  {% get_todays_runs as runs %}
  {% if runs.todays_run %}
  <div class="col-md-8">
  <h2>Today's Run</h2>
  {% for run in runs.todays_run %}
    <h3 class="quiet"><a href="{{ run.get_absolute_url }}">{{ run.name }}</a></h3>

    {% get_news_for_object run as news_list %}
    {% for news in latest_news|slice:"1" %}
    <div class="{% if news.alert_status %}alert alert-{{ news.alert_status }}{% endif %}">
      <h4 class="">{{ news.pub_date|date }}</h4>
      {{ news.body|oembed:"600x600"|markdown|truncatewords_html:"100" }}
    </div>
    <hr>
    {% endfor %}

    {% if run.get_run_news %}
    <h4>Latest News:</h4>
    {% for item in run.get_run_news|slice:":3" %}
      <div>{{ item.body }} - ({{ item.pub_date|timesince }} ago)</div>
    {% endfor %}

    {% endif %}

    <dl class="dl-horizontal">
      <dt>Where: </dt>
      <dd>{{ run.location}} <a href="{{ run.map_link}}">(Directions?)</a></dd>
      <dt>When: </dt>
      <dd>{{ run.run_time }}</dd>
      <dt>What: </dt>
      <dd>{{ run.details }}</dd>
      <dt>Contact: </dt>
      <dd><a href="{{ run.contact.email|mailhide }}">{{ run.contact.full_hawk_name }}</a></dd>
    </dl>
    {% comment %}
    <p><strong>Where: </strong>{{ run.location}} <a href="{{ run.map_link}}">(Directions?)</a></p>
    <p><strong>When: </strong>{{ run.run_time }}</p>
    <p><strong>What: </strong>{{ run.details }}</a></p>
    <p><strong>Contact: </strong><a href="{{ run.contact.email|mailhide }}">{{ run.contact.full_hawk_name }}</a></p>
    {% endcomment %}
  {% endfor %}
  </div>
  {% endif %}

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Next Run</h2>
      </div>
      <div class="panel-body">
        {% comment %}
        <div class="alert alert-success"><strong>Well done!</strong> You successfully read this important alert message.</div>
        <div class="alert alert-info"><strong>Heads up!</strong> This alert needs your attention, but it's not super important.</div>
        <div class="alert alert-warning"><strong>Warning!</strong> No Saturday run!</div>
        <div class="alert alert-danger"><strong>Oh snap!</strong> Change a few things up and try submitting again.</div>
        {% endcomment %}

        {% for run in runs.next_run %}
          <h3><a href="{{ run.get_absolute_url }}">{{ run.name }}</a></h3>
          {% if run.get_run_news %}
            <h4>Latest News:</h4>
            {% for item in run.get_run_news|slice:":3" %}
              <div>{{ item.body }} - ({{ item.pub_date|timesince }} ago)</div>
            {% endfor %}
          {% endif %}
          <p><strong>Where: </strong>{{ run.location}} <a href="{{ run.map_link}}">(Directions?)</a></p>
          <p><strong>When: </strong>{{ run.run_time }}</p>
          <p><strong>What: </strong>{{ run.details }}</a></p>
          {% if not todays_run %}
            <p><strong>Contact: </strong><a href="mailto:{{ run.contact.email|mailhide }}">{{ run.contact.full_hawk_name }}</a></p>
          {% endif %}
        {% empty %}
          <p class="quiet large">No upcoming scheduled runs</p>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-md-8">
    {% get_latest_race as latest_race %}
    {% if latest_race %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Upcoming Event</h3>
        </div>
        <div class="panel-body">
          <h2><a href="{{ latest_race.get_absolute_url }}">{{ latest_race.title }}</a></h2>
          <div>{{ latest_race.start_datetime|date:"D d M, Y" }}</div>
          {% if latest_race.logo %}
          <p><a href="{{ latest_race.get_absolute_url }}"><img class="img-responsive" src="{{ latest_race.logo.url }}"></a></p>
          {% endif %}
          <h3>{{ latest_race.slogan }}</h3>
          {% if latest_race.get_race_news %}
            <p><strong>Latest News:</strong>
            {% for item in latest_race.get_race_news|slice:":3" %}
              {{ item.body|oembed:"600x600"|markdown }}
            {% endfor %}
            </p>
          {% endif %}
          <p><strong>Where: </strong>{{ latest_race.location }}<br />
          <a href="{{ latest_race.map_link }}">Click here for directions.</a></p>
          <p><strong>Course: </strong>{{ latest_race.description|oembed:"600x600"|markdown }}<br />
          {% if latest_race.course_map %}
          Click <a href="{{ latest_race.course_map }}">here</a> for course map.</p>
          {% endif %}
          <ul>
            {% for reg in latest_race.get_reg_dates %}
              <li>${{ reg.reg_cost }} until {{ reg.reg_date|date:"M d" }}</li>
            {% endfor %}
          </ul>
          <p>{{ latest_event.discount }}</p>
        </div>
      </div>
    {% else %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>

      <h2>Latest Post</h2>

      <div class="section-content">
        <div class="post">
          <div class="post-title"><h2><a href="{{ latest_post.get_absolute_url }}">{{ latest_post.title }}</a></h2></div>
          <div class="post-date">{{ latest_post.publish|date:"D d M, Y" }} by <a href="{{ latest_post.author.get_absolute_url }}">{{ latest_post.author}}</a></div>
          <div class="post-body">
            {{ latest_post.body|markdown|truncatewords:"400" }}
            <p><a href="{{ latest_post.get_absolute_url }}">Read more...</a></p>
          </div>
        </div>
      </div>
    {% endif %}
  </div>

  {% comment %}
  <div class="col-md-3">
      <h2>Follow Us</h2>
      <p><a href="http://twitter.com/trailhawks">http://twitter.com/trailhawks</a></p>
  </div>
  {% endcomment %}
</div>

{% comment %}
<div class="row">

  <div class="col-md-12">
    <div>
      <div id="myCarousel" class="carousel slide">

        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Carousel items -->
        <div class="carousel-inner">

          <div class="item active">
            <div class="row-fluid">
              <div class="col-md-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
              <div class="col-md-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
              <div class="col-md-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
              <div class="col-md-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
            </div><!--/row-fluid-->
          </div><!--/item-->

          <div class="item">
            <div class="row-fluid">
              <div class="col-md-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
              <div class="col-md-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
              <div class="col-md-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
              <div class="col-md-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
            </div><!--/row-fluid-->
          </div><!--/item-->

          <div class="item">
            <div class="row-fluid">
              <div class="col-md-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
              <div class="col-md-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
              <div class="col-md-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
              <div class="col-md-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;" /></a></div>
            </div><!--/row-fluid-->
          </div><!--/item-->

        </div><!--/carousel-inner-->

        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
      </div><!--/myCarousel-->

    </div><!--/well-->
  </div>
</div>
{% endcomment %}

<div class="row">
  <div class="col-md-4">
    {% get_latest_faqs 5 as recent_faqs %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">FAQ</h3>
      </div>
      <ul class="list-group">
        {% for faq in recent_faqs %}
        <li class="list-group-item"><a href="{{ faq.get_absolute_url }}">{{ faq.question }}</a></li>
        {% endfor %}
        <li class="list-group-item"><a class="btn btn-block btn-primary" href="{% url 'faq_list' %}" class="more">Browse all FAQ &#187;</a></li>
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Trailhawk Calendar</h3>
      </div>
      <div class="panel-body">
        <p>Subscribe to our calendar to keep upto date on all Trailhawk events, not just our races.</p>
        <p><a class="btn btn-block btn-primary" href="http://lawrencetrailhawks.com{% url 'race_ical' %}">Subscribe</a></p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
		{% get_latest_posts 5 as recent_posts %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Hawk Talk</h3>
      </div>
      <ul class="list-group">
        {% for post in recent_posts %}
        <li class="list-group-item"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> <span class="quiet">by <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></span></li>
        {% endfor %}
        <li class="list-group-item"><a class="btn btn-block btn-primary" href="{% url 'blog_list' %}">Read more &#187;</a></li>
      </ul>
    </div>
	</div>

  {% comment %}
  <div class="col-md-6">
		<h3>About Us</h3>
		<div class="section-content">
		<p>The Lawrence Trail Hawks, founded by Lawrence area trail and ultra runners, will run on, promote and care for the Lawrence trails, including the Kansas River Trails and the Clinton Lake North Shore Trails.</p>
		<p>We'll work with the Department of Parks and Wildlife and the Kansas Trails Council to help keep the trails groomed and free of trash.</p>
		<p>We'll stage events, and help with other groups' events that meet our goals of promoting and caring for the trails.</p>
		<p>We will take care of the trails, our fellow Trail Hawk members, and all others who have interest in the trails similar to our own.</p>
		</div>
	</div>
  {% endcomment %}
</div>
{% endblock content %}
