{% extends "base.html" %}

{% block title %}Lawrence Trail Hawks{% endblock %}

{% block homepage %} 
<p style="text-align: center;"><img src="http://www.ultrastory.com/Trail_Hawks/Hawk_logo.jpg" alt="" width="259" height="179" /></p> 	 
<p>Join or renew your membership online at <a href="http://ultrasignup.com/register.aspx?did=7418">Ultra Signup.com</a> or download the snail mail <a href="http://www.ultrastory.com/Trail_Hawks/Membership_Application.pdf">membership application</a>. Here are just some of the <a href="../../../../faq/#benefits">benefits of membership</a>.</p> 

<p><em><strong>See you on the trails!</strong></em></p></p>

<div id="latest_event">
	<h2>Up Coming Events</h2>
{% if latest_event %}
  {% for race in latest_event|slice:":2" %}
  <p><h3>{{ race.title }}</h3></p>
  <p><b>Where:</b> {{race.location}}</p>
  <p><b>When:</b> {{race.start_datetime|date:"D d M, Y"}}</p>
  <p><b>Register:</b> <a href="{{latest_event.reg_url}}">Click here to signup.</a></p>
  {% if latest_event.count > 2 %}
  <p><a href="/races/">More</a></p>
  {% endif %}
  {% endfor %}
{% else %}
  <p>No Events</p>
{% endif %}
</div>

<div id="todays_run">
	<h2>Today's Run</h2>
{% if todays_run %}
  <h3>{{todays_run.name}}</h3>
  <p><b>When:</b> Today at {{ todays_run.run_time}}</p>
  <p><b>Where:</b> {{todays_run.location}}</p>
  <p>Click <a href="{{ todays_run.map_link}}">here</a> for directions.</p>
{% else %}
  <p>No runs are scheduled today</p>
{% endif %}
</div>

<div id="tweets">
	{% load twitterfy %}
	<h2><a href="http://twitter.com/trailhawks">Hawk Tweets</a></h2>
    {% for tweet in tweets|slice:":5" %}
    <p>{{ tweet.text|twitterfy }}</p>
    {% endfor %}
</div>

<div id="other_news">
	{% for tweet in tweets %}
	<p>
	{% endfor %}
</div>
	

<div id="footer">
	<p>Join our <a href="http://groups.yahoo.com/group/Lawrence_Trail_Hawks/">Yahoo! Group</a> e-mail list and get connected!</p> 
	<p>Check us out on <a href="http://www.twitter.com/trailhawks">Twitter</a> and on <a href="http://www.facebook.com/home.php#/group.php?gid=91186762641&amp;ref=ts">Facebook</a></p>	
</div>

{% endblock %}

