{% extends "base_bootstrap.html" %}

{% load flickr %}
{% load oembed_tags %}

{% block title %}Sponsors{% endblock %}

{% block page_header %}<h1>Sponsors</h1>{% endblock page_header %}

{% block sub_navigation %}
<ul class="nav nav-pills">
    <li><a href="/links/">Links</a></li>
    <li class="active"><a href="/sponsors/">Sponsors</a></li>
</ul>
{% endblock sub_navigation %}

{% block content %}
<table>
	{% for sponsor in sponsors %}
	<tr>
		<td><a href="{{ sponsor.url }}"><img src="/site_media/{{ sponsor.logo }}" /></a></td>
		<td>{% if sponsor.address %}<p><strong>Address: </strong>{{ sponsor.address }}</p>{% endif %}
			<p><strong>Discount: </strong>{{ sponsor.discount_detail }}</p>
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}

{% block secondary_content %}
{% include "includes/flickr_photos.html" %}
{% endblock secondary_content %}
