{% extends base_template_name|default:"base.html" %}

{% block title %}Contact Us{% endblock title %}

{% block content %}
<div class="main" id="main-two-columns">

	<div class="left" id="main-content">
		<h3>Thank you for contacting us. <br />One of our offices will answer your questions soon.</h3>
		<p>- The Lawrence Trailhawks</p>
     </div>

	<div class="right sidebar" id="sidebar">
		{% include "includes/flickr_photos.html" %}
	</div>

	<div class="clearer">&nbsp;</div>

</div>
{% endblock content %}
