{% extends "base_bootstrap.html" %}

{% load flickr %}
{% load oembed_tags %}

{% block title %}Trail Hawk Photos{% endblock title %}

{% block page_header %}<h1>Trail Hawk Photos</h1>{% endblock page_header %}

{% block content %}
<ul class="media-grid">
{% for photo in photos %}
    <li>
        <a href="{{ photo.photopage_url }}">{% oembed 330x330 %}{{ photo.photopage_url }}{% endoembed %}</a>
        <p>{{ photo.description|safe }}</p>
    </li>
{% endfor %}
</ul>

<p>Check out our <a href="http://www.flickr.com/photos/trailhawks">Flickr</a> page for more photos.</p>
{% endblock content %}
