{% extends "base_bootstrap.html" %}

{% load staticfiles %}

{% block post_style %}
<style>
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.masthead {
    height: 615px;
    width: 992px;
    background-image: url("{% static 'img/header-hawk.jpg' %}");
    background-repeat: no-repeat;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
/*
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
*/
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
/* 992px): width: 970 */
/*
@media screen and (min-width: 768px) {
*/
@media screen and (min-width: 992px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
</style>
{% endblock post_style %}

{% block navbar %}
{% include "menu.html" %}
{% endblock navbar %}

{% block content-wrapper %}
<!--
<div class="navbar-inner">
  <div class="container">
    <a class="brand" href="{% url 'homepage' %}"><img src="{% static 'img/header-hawk.jpg' %}"></a>
  </div>
</div>
-->

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

{% block content %}
{% endblock content %}

    </div>
  </div>
</div>

{% endblock content-wrapper %}

{% block footer %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <ul class="nav nav-pills">
        <li><a href="/signup/"><i class="fa fa-plus-circle"></i> Join Us</a></li>
        <!--
        <li><a href="/contact/"><i class="fa fa-envelope"></i> Contact us</a></li>
        -->
        <li><a href="https://www.facebook.com/groups/hawkhundred/"><i class="fa fa-facebook"></i> Facebook</a></li>
        <li><a href="http://www.twitter.com/trailhawks"><i class="fa fa-twitter"></i> Twitter</a></li>
        <li><a href="http://www.flickr.com/photos/trailhawks"><i class="fa fa-flickr"></i> Flickr</a></li>
      </ul>
      <hr>
      <p>&copy; 2009-{% now "Y" %} Lawrence Trail Hawks. All rights Reserved</p>
    </div>
  </div>
</div>
{% endblock footer %}
