{% extends "events/base.html" %}

{% block title %}{{ object.title }}{% endblock title %}

{% block page_header %}<h1>{{ object.title }}</h1>{% endblock page_header %}

{% block content %}
<p><strong>Race date:</strong> {{ object.date|date:"F j, Y" }}</p>
<p><strong>Start time:</strong> {{ object.date|date:"h:i A" }}</p>
<p><strong>Race Location:</strong> {{ object.location }}</p>
<p><strong>Description:</strong> {{ object.description }}</p>
<p>Click <a href="{{ object.reg_url }}">here</a> to register.</p>
<p><strong>Phone:</strong> {{ object.contact_phone }}</p>
<p><strong>Email:</strong> {{ object.contact_email }}</p>
{% endblock content %}
